.homepageContainer {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 5%;
  background-color: rgb(62, 64, 67);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.breakingNewsContainer {
  width: 60vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.582);
  margin-top: 5rem;
  margin-left: 5rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.Headline{
  width: 35%;
  text-align: center;
  color: white;
}
.breakingNewsImg{
  width: 60%;
  height: 90%;
  border-radius: 1rem;
  background-image: url('https://tse3.mm.bing.net/th?id=OIP.GzP-QYd3ZX9hwo0KfK1QIgHaE8&pid=Api&P=0');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}