.mainpageContainer {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(62, 64, 67);
}

