.navbarContainer {
  width: 100vw;
  height: 60px;
  background: linear-gradient(rgba(254, 253, 253, 0), rgb(232, 226, 226));
  display: flex;
  align-items: center;
  position: fixed;
}

.navbarContainer ul {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  font-weight: 600;
}
.navbarContainer ul li{
   cursor: pointer;
  }
